.header{
    display: flex;
	background-color: cadetblue;
	color:#505050;
    width: 100%;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .title{
	color:#505050;
	border-color: cadetblue;
    background-color: cadetblue;
    width: 100%;
    font-size: 80px;
    margin-right: 5%;
}

.header .signup{
	color:#505050;
    border-radius: 15%;
    width: 150px;
	height: 60px;
	border-color: cadetblue;
    background-color: cadetblue;
    align-self: end;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

body{
	margin: 0;
	margin-bottom: 45px;
	background-color: aliceblue;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;	
}

.webcam{
	display: grid;
	margin: 0 auto;
	width: 400px;
	border: 10px solid grey;
	background-color: cadetblue;
}

.webcam-click-button{
	margin: 10px 0;
	padding: 10px 20px;
	display: block;
	color: grey;
	text-align: center;
	background-color: azure;
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;	
}

.button{

	font-size: 15px;
	width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
	display: block;
	color: grey;
	text-align: center;
	background-color: azure;
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;	

}

.gallery{
	border: 10px solid cadetblue;
	width: 50%;
	display: block;
	margin: 30px;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #505050;
	text-align: end;
	background-color: cadetblue;
}

#likes{
	border: 3px solid cadetblue;
	text-decoration: none;
	color:  grey;
	margin: 30px;
	padding: 3px;
	border-radius: 30%;
}

#upload{
	display: grid;
	margin: 5 auto;
	width: 400px;
	border: 10px solid grey;
	background-color: cadetblue;
}

#comment_form{
	margin: 30px;
}

#sticker{
	width: 100px;
	height: 100px;
	margin: 30px;
}